.hp {
  display: flex;
  padding-left: 30px;
  padding-right: 30px;
  gap: 35px
}

.hp-section-one {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.hp-section-two {
  max-height: 100%;
}

.card-title {
  font-size: medium;
  font-weight: 600;
}

.contact-card {
  width: 45%;
  box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  padding: 20px
}

.desc-card {
  width: 55%;
  box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  padding: 20px
}


.wex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.work-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.job-card {
  box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -webkit-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: -2px 3px 12px 6px rgba(0, 0, 0, 0.27);
  border-radius: 10px;
  padding: 20px;
  width: 100%
}

.cert-card {
  margin-top: 20px;
  margin-bottom: 20px;
}

.bullet-points {
  display: flex;
  flex-direction: column;
  gap: 5px
}

.bp-container {
  gap: 10px;
  display: flex;
  align-items: center;
}